<!-- <app-child>
  <hr />
  <p style="background-color: lightcoral">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  </p>
  <div style="background-color: lightgoldenrodyellow" someAttribute>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  </div>
  <div class="example">
    <span>Цвет из родителя {{ color }}</span>
  </div>
  <article style="background-color: lightgreen" class="some-css-class">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  </article>
  <hr />
</app-child> -->

<app-child>
  <app-ng-content-example></app-ng-content-example>
</app-child>
