<p>Первый параграф!</p>
<ng-container
  *ngTemplateOutlet="test; context: { first: 'hello', someText: '!' }"
>
  <span
    >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga odit
    perspiciatis provident commodi quas enim ea repellat id incidunt est
    consequuntur, necessitatibus quam consectetur cupiditate non magni ullam ex
    maxime!</span
  >
</ng-container>

<p>Третий параграф!</p>

<ng-template
  #test
  let-item
  let-drink
  let-firstItem="first"
  let-someText="someText"
>
  <p>Второй параграф!</p>
  <p>{{ firstItem }}</p>
  <p>{{ item }}</p>
  <p>{{ drink }}</p>
  <p>{{ someText }}</p>
</ng-template>
